<!DOCTYPE html>
<!--home page-->
<html>
    <head>
        <title>Home</title>
		<link rel="stylesheet" href="/css/style1.css" type="text/css">
	</head>
	<body>
        <header>
            <img src="/logo.png" class="logo" alt="logo">
            <h3>GoTravel</h3>
        </header>

        <section>
            <!---navigation bar--->
            <nav>
                <a href="Home.html">Home</a>
                <a href="placesToGo.ejs">Tourist Attractions</a>
                <a href="food.ejs">Indonesian Foods</a>
                <a href="contactpage.html">Contact Us</a>
            </nav>

            <img src="/padarisland.jpg" class="imgscreen1" alt="padarisland">
            <p>Padar Island, East Nusa Tenggara, Indonesia</p><br>

            <aside>
                <a href="placesToGo.ejs"><img src="/location.png"></a>
                <div>
                    <h4>Check some top-rated tourist attractions in Indonesia</h4>
                </div>
            </aside>
            
            <article>
                <a href="food.ejs"><img src="/foodlogo.jpg"></a>
                <div>
                    <h4>Must try foods in Indonesia</h4>
                </div>
            </article>

            <img src="/TraditionalfoodsinJava.jpg" class="imgscreen1" alt="javanesefood">
            <p>Javanese cuisine, Indonesian dishes</p>
            
        </section>
    </body>
</html>